<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        h1{text-align: center;}
        h2{text-align: center}
        p{color:rgb(0, 17, 255)}
        p{text-align: center}
        p{font-weight: bold;}
        p{font-size: 30;}
        body {
  background-image : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
    </style>
    <style>
        .butaoInicio{
            div{
                align: center;
            }
        }
    </style>
    <style>
         .topo{
        text-align: center
    }
    .inicio{
        color:rgb(55, 0, 255)
    }
    </style>
    <style>
        h4{text-align: center}
    </style>
</head>
<header>
    <div class="inicio">
        <h1 id="ini">PetVet</h1>
    </div>
<p>
    Contato (11) 9 9251-5755 (Whatsapp)
</p>
<div class = "topo">
    <img src="https://meupet.elanco.com/sites/g/files/adhwdz661/files/styles/paragraph_image/public/2020-04/bpc-48_-_filhotes.jpg?itok=A-H2qFJ7" width="260" height="200">
</div>
</header>
<body>
    <h1>O MELHOR PETSHOP DA SUA REGIÃO</h1>
    <h2>Nossos Serviços</h2>
    <div  class="botao">
        <form action="/Home/Index">
            <input type="submit" value="INICIO" style="display: block; margin: 0 auto;">
        </form>
        <br>
        <form action="/Home/Servicos">
            <input type="submit" value="SERVICOS" style="display: block; margin: 0 auto;">
        </form><br>
        <form action="/Home/Agendamento">
            
            <input type="submit" value="AGENDAMENTO" style="display: block; margin: 0 auto;">
        </form><br>
    </div>
    <p>
        Transformamos o seu dia em praticidade com muito amor para seus pets 
    </p>
</body>
<footer>
    <div><center><img src="https://saude.abril.com.br/wp-content/uploads/2021/03/bichos-foto-vauvau-Getty-Images.png" width="260" height="200"></center> </div>
    <h4>O melhor Pet Shop da sua região está aqui desde de 1990</h4></footer>
</footer>
</html>