@{
    ViewData["Title"] = "Lista de serviços";
}
<h1>@ViewData["Title"]</h1>
<h6> Uma listagem dos nossos serviços abaixo: </h6>
<ul>
    <li>Agendamento On-line</li>
    <li>Banhoe tosa</li>
    <li>Ração pra gato adulto</li>
    <li>Ração pra gato pequeno</li>
    <li>Ração pra cão adulto</li>
    <li>Ração pra cão pequeno</li>
</ul>